# Sorted by alphabet letters
celery
django
django-celery-beat
django-celery-results
django-cors-headers
django-debug-toolbar
django-environ
django-extensions
django-jazzmin
django-ratelimit
django-redis
django-storages
django-taggit
djangorestframework
djangorestframework-simplejwt
djoser
drf-material
drf-nested-routers
drf-spectacular
drf-spectacular-sidecar
drf_social_oauth2
firebase-admin
flower
icecream
pdfplumber
pillow
psycopg2-binary
watchdog